* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --width: 325px;
  --height: 670px;
  --radius: 25px;
  --separator-height: 500px;
  --bg: #fdf3f2;
  --bg: #fdeae6;
  --intro-bg: #eed7d1;
  --font-color: #807b7b;
  --transition: transform 0.7s ease-in-out;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.shelf {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 26px;
  margin-top: 10px;
  font-weight: 600;
  color: var(--font-color);
  margin-left: auto;
  margin-right: auto;
}

.layout {
  width: 300px;
  height: 350px;
  margin: 10px;
  border-radius: var(--radius);
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--bg);
  box-shadow: 36px 36px 50px 15px #eed7d1d1;
}
.layout .actions {
  position: fixed;
  top: 370px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  z-index: 6;
}
.layout .book-cover {
  position: relative;
  height: var(--separator-height);
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--intro-bg);
  transform-style: preserve-3d;
  transform-origin: 50% 40%;
  transition: var(--transition);
  z-index: 4;
}
.layout .book-top {
  width: 170px;
  position: absolute;
  top: 50px;
  left: 70px;
  z-index: 5;
  transform: translateZ(28.5px);
}
.layout .book-side {
  position: absolute;
  top: 285px;
  left: 39px;
  transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
}
.layout:hover .book-cover {
  transform: rotateX(75deg) translateZ(3px) scale(0.75);
}
.layout:hover .book-cover + .preface {
  transform: translateY(-180px);
}

.layout .preface {
  height: var(--separator-height);
  padding: 30px;
  transition: var(--transition);
  background: #f0f0f0;
}
.layout .preface .header {
  display: flex;
  align-items: center;
}
.layout .preface .title {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}
.layout .preface .author {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: right;
}