<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <!-- favicon -->
    <!-- fonts -->
    <!-- js -->
    <!-- style -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- nav -->
    {% block navbar %}
    <div class="navigation">
        <div class="userBx">
            <div class="imgBx">
                <img src="https://avatars.dicebear.com/api/male/바.svg">
            </div>
            <p class="username">Profile name</p>
        </div>
        <div class="menuToggle"></div>
        <ul class="menu">
            <li><a href="#">
                    <ion-icon name="person-outline"></ion-icon>My Profile
                </a></li>
            <li><a href="#">
                    <ion-icon name="chatbubble-outline"></ion-icon>Messages
                </a></li>
            <li><a href="#">
                    <ion-icon name="notifications-outline"></ion-icon>Notification
                </a></li>
            <li><a href="#">
                    <ion-icon name="settings-outline"></ion-icon>Settings
                </a></li>
            <li><a href="#">
                    <ion-icon name="help-circle-outline"></ion-icon>Help & Support
                </a></li>
            <li onclick="loginToggle()"><a href="#">
                    <ion-icon name="log-in-outline"></ion-icon>Login
                </a></li>
            <li onclick="signupToggle()"><a href="#">
                    <ion-icon name="logo-buffer"></ion-icon>Signup
                </a></li>
        </ul>
    </div>
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script module src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        const menuToggle = document.querySelector('.menuToggle');
        const navigation = document.querySelector('.navigation');
        menuToggle.onclick = function () {
            navigation.classList.toggle('active')
        }
    </script>

</body>

</html>